<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
                Where shall we go?
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Login / Sign up</a></li>
            <li><a href="/new">New Trip</a></li>
            <li><a href="/myTrips">View Trips</a></li>
        </ul>
    </div>
</nav>
