<nav  id="nav1" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-brand">
                <span class="glyphicon glyphicon-folder-open"></span>
                Where shall we go?
            </p>
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
        </div>
        <div id="myNavbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/login">Login / Sign up</a></li>
              <li><a href="/new">New Trip</a></li>
              <li><a href="/myTrips">View Trips</a></li>
          </ul>
        </div>
    </div>
</nav>
