<nav class="navbar navbar-default color4 color3" role="navigation">
    <div class="color3 color4 container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-folder-open"></span>
                Where shall we go?
            </a>
        </div>
        <ul class="nav navbar-nav color4 color3">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Login / Sign up</a></li>
            <li><a href="/new">New Trip</a></li>
            <li><a href="/myTrips">View Trips</a></li>
        </ul>
    </div>
</nav>
