html {
  background-color: #E9E9E9;
}
.container {
  max-width: 750px;
  background-color: #E9E9E9;

}

.jumbotron {
  max-height: 16%;
  background-color: green;
  padding: 0;
  margin: 0;
}
.first {
  max-height: 30%;
}
.signin {
  max-width: 330px;
  margin-right: auto;
  margin-left: auto;

}
.signup {
  max-width: 330px;
  margin-right: auto;
  margin-left: auto;
}
.carousel-inner .item {
  width: 70%;
  margin: auto;


}
/*.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      /*width: 70%;*/
      /*margin: auto;
  }*/

/*white color for text*/
.color1 {
    color: white;
  }
  /*linen color for text*/
.color2 {
  color: #E9E9E9;
}
/*linen color for background*/
.color3 {
background-color: #E9E9E9;
}
/*plaster grey color for font*/
.color4 {
  color: #CDCDCD;
}
/*ice blue color for background*/
.color5 {
  background-color: #99D3DF;
}
/*freshwater blue color for background*/
.color6 {
  background-color: #88BBD6;
}
/*freahwater blue color for text */
.color7 {
  color: #88BBD6;
}

.btn:hover {
  background-color: #E9E9E9;
  color: #88BBD6;
}
label {
  color: #88BBD6;
}
.placeholder {
  font-size: 0.7em;
  padding-left: 1em;
}
h2 {
  padding-top: 0;
  margin-top: 0;
}
a {
  color: #CDCDCD;
}
a:hover {
  color: #E9E9E9;
}
.newTrip {
  padding-left: 1em;
}
.itinDeets {
  font-size: 1.6em;
}

.bee {
  max-width: 20px;
  max-height: 20px;
}
