<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

  <main>
    <div class="jumbotron">
        <h1>Activity Bookings</h1>
        <div class="row itinDeets">
          <div class="col-sm-4">
            trip name ....
          </div>
          <div class="col-sm-4">
            days ....
          </div>
          <div class="col-sm-4">
            style ....
          </div>
        </div>
    </div>

    <div class="container sheet">
      <form action = "/activityList" method = "POST" class="">
        <table class="color7 table table-sm table-bordered table-striped">
          <thead class="thead-inverse">
            <tr>
              <th>Date</th>
              <th>What</th>
              <th>Booked thru</th>
              <th>Reference</th>
              <th>Address</th>
              <th>Time</th>
              <th>notes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2nd June</td>
              <td>ATV tour</td>
              <td>KL Tours</td>
              <td>none</td>
              <td>Botanic gardens</td>
              <td>9.30am</td>
              <td>Hue-Mei, bring drivers license</td>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
          </tbody>
        </table>

        <div class="row">
          <div class="col-sm-2">
            <a href="/return" class="color2 color6 btn btn-lg btn-primary btn-block" type="get">Add line</a>
          </div>
          <div class="col-sm-2">
            <a href="" class="color2 color6 btn btn-lg btn-primary btn-block" type="get">Save</a>
          </div>
          <div class="col-sm-2">
            <a href="" class="color2 color6 btn btn-lg btn-primary btn-block" type="get">Edit</a>
          </div>

            <div class="col-sm-2">
              <a href="/return" class="color2 color6 btn btn-lg btn-primary btn-block" type="get">Return</a>
            </div>

        </div>
      </form>
    </div>

  </main>

    <footer>
      <% include ../partials/footer %>
    </footer>

</body>
</html>
