<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

  <main>
    <div class="jumbotron">
        <h1>Itinary</h1>
        <div class="row itinDeets">
          <div class="col-sm-4">
            trip name ....
          </div>
          <div class="col-sm-4">
            days ....
          </div>
          <div class="col-sm-4">
            style ....
          </div>
        </div>
    </div>

    <table class="color7 table table-sm table-bordered table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>Date</th>
          <th>Staying</th>
          <th>Doing</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1st June</td>
          <td>Intercontinental</td>
          <td>visit park</td>
          <td>
              <li>booked for 1 night only</li>
              <li>park open till 4pm</li>
            </td>
        </tr>
        <tr>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>more</td>
        </tr>
        <tr>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
          <td>more ...</td>
        </tr>
      </tbody>
    </table>


    <% include ../partials/bottomNav %>

  </main>

    <footer>
      <% include ../partials/footer %>
    </footer>

</body>
</html>
