<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="color3 container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
      <div class="jumbotron">
          <h1>My trips</h1>
          <p>...select a trip</p>
      </div>
      <!-- insert list of trips here -->
      <table class="table table-sm color5 table-bordered table-striped">
        <thead class="thead-inverse">
          <tr>
            <th>Select</th>
            <th>Trip name</th>
            <th>Where to?</th>
            <th>Start date</th>
            <th>End date</th>
          </tr>
        </thead>
        <tbody>
      <!-- loop to insert trip details -->
        <% for (var i=0; i<trips.length; i++) {%>
          <tr class = "trips">
              <td class = "radio-inline">
                <input type="radio" name = "optradio" value = ""></td>
              <td class = "trip">
                <span><%= trips[i].tripname %></span></td>
              <td class = "trip">
                <span><%= trips[i].where %></span></td>
              <td class = "trip">
                <span><%= trips[i].start %></span></td>
              <td class = "trip">
                <span><%= trips[i].end %></span></td>
          </tr>
        <% } %>
        </tbody>
      </table>


    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>

</body>
</html>
