<head>
    <% include ../partials/head %>
</head>
<body class="newhol">
  <div class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
      <div class="jumbotron color2 color6">
          <h1>New trip</h1>
      </div>
<!-- trip details input field -->
      <div>
        <form action = "/newTrip" method = "POST" class="">
          <h2>
            <div class="row color7">
              <div class="col-sm-4">
                <label class="newTrip">Trip name</label>
              </div>
              <div class="col-sm-6">
                <input type="text" name = "name" class="placeholder color7" placeholder="describe trip">
              </div>
            </div>
          </h2>

          <h2>
            <div class="row color7">
              <div class="col-sm-4">
                <label class="newTrip">Where to?</label>
              </div>
              <div class="col-sm-6">
                <input type="text" name = "where" class="placeholder color7" placeholder="main destination">
              </div>
            </div>
          </h2>

          <h2>
            <div class="row color7">
              <div class="col-sm-4">
                <label class="newTrip">Start date</label>
              </div>
              <div class="col-sm-6">
                <input type="date" name = "start" class="placeholder color7">
              </div>
            </div>
          </h2>

          <h2>
            <div class="row color7">
              <div class="col-sm-4">
                <label class="newTrip">End date</label>
              </div>
              <div class="col-sm-4">
                <input type="date" name = "end" class="placeholder color7" >
              </div>
              <div class="col-sm-4">
                Days : <%  %>
              </div>
            </div>
          </h2>

          <h2>
            <div class="row color7">
              <div class="col-sm-4">
                <label class="newTrip">No. of people</label>
              </div>
              <div class="col-sm-2">
                <input name = "people" type="number" class="placeholder color7" placeholder="0">
              </div>
            </div>
          </h2>
          <h2>
            <div class="row color7">
              <div class="col-sm-4">
                <label class="newTrip">Style of Trip</label>
              </div>
              <div class="col-sm-2">
                <input name = "style" type="text" class="placeholder color7" placeholder="style">
              </div>
            </div>
          </h2>
          <div class="col-sm-4">
            <button class="color2 color6 btn btn-lg btn-primary btn-block" type="submit">Create</button>
          </div>
        </form>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </div>
</body>
</html>
