<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
      <div class="jumbotron color2 color6">
          <h1>My trip file</h1>
          <p></p>
      </div>

      <div class="container signin">
            <form action = "/signin" method = "GET" class="form-signin">
              <h2 class="color7 form-signin-heading">Please sign in</h2>
              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" name = "email" autofocus="">
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name = "password">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>
              <button class="color2 color6 btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
          </div>

          <div class="container signup">
                <form action = "/signin" method = "POST" class="form-signin">
                  <h2 class="color7 form-signin-heading">New user?</h2>
                  <h2 class="color7">Please sign up</h2>
                  <label for="inputUsername" class="color7 sr-only">User Name</label>
                  <input type="text" id="inputUsername" class="form-control"
                  placeholder="User name" required="" autofocus="" name="username">
                  <label for="inputEmail" class="color7 sr-only">Email address</label>
                  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" name="email">
                  <label for="inputPassword" class="color7 sr-only">Password</label>
                  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password">
                  <button class="color2 color6 btn btn-lg btn-primary btn-block" type="submit">Register</button>
                </form>
          </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>

</body>
</html>
